@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  max-width: inherit;
}

/* Clouds */
.flying-cloud {
  position: absolute;
  right: 0;
  z-index: 99;
  opacity: 0.8;
}

.cloud1 {
  animation: fly 25s infinite linear;
}
@keyframes fly {
  0% {
    right: 0px;
  }

  100% {
    right: 110%;
  }
}

.cloud2 {
  right: -30px;
  animation: fly2 20s linear infinite;
  animation-delay: 5s;
}
@keyframes fly2 {
  0% {
    right: -30px;
  }

  100% {
    right: 110%;
  }
}

.cloud3 {
  right: -50px;
  animation: fly3 20s linear infinite;
  animation-delay: 8s;
}
@keyframes fly3 {
  0% {
    right: -50px;
  }

  100% {
    right: 110%;
  }
}

.cloud4 {
  right: -50px;
  animation: fly4 25s linear infinite;
  animation-delay: 10s;
}
@keyframes fly4 {
  from {
    right: -50px;
  }
  to {
    right: 110%;
  }
}

.cloud5 {
  right: -50px;
  animation: fly5 35s linear infinite;
  animation-delay: 14s;
}
@keyframes fly5 {
  from {
    right: -50px;
  }
  to {
    right: 110%;
  }
}

.global-padding {
  @apply px-16 md:px-8 xsm:px-4;
}

.header-padd-y {
  @apply py-4;
}

.link-padd {
  @apply px-4 py-2 text-base duration-150 hover:opacity-50;
}

nav > ul {
  @apply md:hidden flex items-center gap-4 z-[9999];
}

li.active {
  @apply border-b-2 border-b-white md:border-b-primary;
}

.showMobNav {
  @apply flex flex-col fixed right-0 top-0 bottom-0 bg-white text-black pt-16 w-[300px] duration-300;
  animation: rightToLeft 1.5s;
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.hero {
  @apply bg-primary text-white duration-200;
}

.domainSearchBox {
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.15);
}

.featureCard:hover div > h5 {
  @apply text-primary;
}
