@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Clouds */
.flying-cloud {
  position: absolute;
  right: 0;
  z-index: 99;
}

.cloud1 {
  animation: fly 25s infinite linear;
}
@keyframes fly {
  0% {
    right: 0px;
  }

  97% {
    opacity: 0.4;
  }

  100% {
    right: 110%;
  }
}

.cloud2 {
  right: -30px;
  animation: fly2 20s linear infinite;
  animation-delay: 2s;
}
@keyframes fly2 {
  0% {
    right: -30px;
  }

  97% {
    opacity: 0.4;
  }

  100% {
    right: 110%;
  }
}

.global-padding {
  @apply px-16 md:px-8;
}

.header-padd-y {
  @apply py-4;
}

.link-padd {
  @apply px-4 py-2 text-base duration-150 hover:opacity-50;
}

nav > ul {
  @apply md:hidden flex items-center gap-4 z-[9999];
}

li.active {
  @apply border-b-2 border-b-white md:border-b-primary;
}

.showMobNav {
  @apply flex flex-col fixed right-0 top-0 bottom-0 bg-white text-black pt-16 w-[300px] duration-300;
  animation: rightToLeft 1.5s;
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Hero Section */
.hero {
  @apply bg-primary text-white duration-200;
  min-height: 100vh;
}
